{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content%}
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top"
                 src="{{ product_image|mymedia }}"
                 alt="Card image cap">
            <div class="card-body">
                <p class="card-text">{{ product_name }}</p>
                <p class="card-text">Описание:</p>
                <p class="card-text">{{ product_content }}</p>
                <p class="card-text">{{ price_for_one }}</p>
                <span class="text-muted">{{ user|default:'-' }}</span>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}