{% extends 'catalog/base.html' %}

{% block content%}
    <form method="post" class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        {% if object %}
                            Редактирование продукта
                        {% else %}
                            Добавление продукта
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-outline-success">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Добавить
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Версия
                    </div>
                    <div class="card-body">
                        {{ formset.management_form}}
                        {% for form in formset.forms %}
                            {{ form.as_p }}
                            {% if not forloop.last %}
                            <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
    </form>
{% endblock %}